body {
    color: #383417;
}

#player {
    max-height: 300px;
    background-color: #ECD200;
}

audio {
    width: 100%;
}

.navbar {
    margin-bottom: 0px !important;
    border-radius: 0 !important;
}

.songs_list {
    list-style: none;
    font-size: 16px;
}
