body {
    color: #ECD200;
}

#player {
    max-height: 300px;
    background-color: #0099cc;
}

audio {
    width: 100%;
}

.navbar {
    margin-bottom: 0px !important;
    border-radius: 0 !important;
}

